<div class="tickets-bg">
    <mat-list role="list" class="tickets-list" *ngIf="!isLoading; else elseBlock">
        <mat-accordion class="tickets-cont">
            <mat-expansion-panel *ngFor="let id of ticketIds" hideToggle class="ticket-accordion">
                <mat-expansion-panel-header class="expansion-header">
                    <div class="header-content">
                        <mat-panel-title class="panel-title">
                            <div class="ticket-icon">
                                <span class="material-icons">confirmation_number</span>
                            </div>
                            <span>Ticket ID: {{id}}</span>
                        </mat-panel-title>
                        <span class="material-icons expand-icon">expand_more</span>
                    </div>
                </mat-expansion-panel-header>
                <div class="ticket-wrapper">
                    <app-ticket [id]="id" class="ticket-component"></app-ticket>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
    <ng-template #elseBlock>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
</div>